.list ul{
 list-style: none !important;
 margin-left: 12px !important;
 font-size: 15px !important;
 cursor: pointer;
}
.list ul li:hover{
    color: aqua;
}
.icon {
    font-size: 30px !important;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.icon .fa:hover{
    color: aqua;
}
.icons-social {
    font-size:20px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.icons-social .fa:hover{
    color: aqua;
}
.para{
    font-size: 10px !important;
}

@media screen (max-width:350px) {
    
}